<html>
<head>

</head>
<body>
    <a href="/Home/Game/1" class="button">Jacks Or Better</a>

    <a href="/Home/BetUnit/1" class="button">&#x00A2;5</a> &nbsp; <a href="/Home/BetUnit/25">&#x00A2;25</a> &nbsp; <a href="/Home/BetUnit/3">$1</a>
                                                                                                                   <div>
                                                                                                                       <span>@ViewBag.BetUnit</span>
                                                                                                                   </div>
</body>
</html>